
.Viewuser {
  box-shadow: 3px 6px 17px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 3px 6px 17px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 6px 17px 0px rgba(0,0,0,0.75);
  flex: 2;
  
}
.viewusercard{
margin: 20px 30px;
}
.userNameTemp{
  display: flex;
  align-items: center;
}
.userAccount{
  margin: 30px 0px;
}
.temp{
  align-items: center;
}
.accountdet{

  display:flex ;
  align-items: center;
  font-size: 16px !important;
  color: #444;
  padding:10px 5px;
}
.title{
  color: rgb(131, 129, 129);
}