* {
  margin: 0;
  padding: 0;
}

.userTable {
  padding: 20px;
   margin-left: 17%; 

}
.userTableinside{
  box-shadow: 1px 0px 12px -1px rgba(0,0,0,0.75);
  -webkit-box-shadow: 1px 0px 12px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 0px 12px -1px rgba(0,0,0,0.75);
}
.button {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.myuser {
  display: flex;
  align-items: center;
}
.userImage {
  width: 50px;
  border-radius: 1000px;
  flex: end;
  margin-right: 20px;
}
.editButton{
  text-decoration: none;
  color: white;
}
.deleteButton{
  background-color: white   ;
  border: none;
  opacity: 0.7;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {

  .userTable{
    margin: 0px;
    padding: 0px;
  

  }
  .userTableinside{
   width: 50vh;
  }
 
}