  
  .updateRight{
    box-shadow: 3px 6px 17px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 3px 6px 17px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 6px 17px 0px rgba(0,0,0,0.75);
      flex: 4;
    margin-left: 20px;
    padding-top: 20px;
    display: flex;
  justify-content: space-around;
  }
  .formtable{
    width: 50%;
    padding: 20px;
  }
  input{
    border: none;
    border-bottom: 2px solid rgb(131, 129, 129);;
    margin-top: 15px;
    font-size: 14px;
    
  }
  
  .formtableRow{
      display: flex;
      flex-direction: column;
      margin: 20px 0px;
    }
    .formLabel{
        font-weight: bold;
       color: #5550bd;
    }
    .Img{
      width: 150px;
      border-radius: 10px;
  }
  .profileImage{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }
  .updateBtn{
      width: 80%;
margin-bottom: 40px;
background-color: darkblue;
color: white;
border: none;
border-radius: 10px;
padding: 10px;
cursor: pointer;
  }