/* * {
  margin: 0;
  padding: 0;
} */

.wedgetLeft {
  box-shadow: 10px 9px 38px -9px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 9px 38px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 9px 38px -9px rgba(0, 0, 0, 0.75);
  padding: 0px 20px;
  flex: 2;
}

.widgetsmTitles {
  padding: 20px 0px;
}

.widgetsmUl {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
  border-bottom: 2px solid #afaec2;
}
.widgetsmImage {
  width: 60px;
  height: 60px;
}
.wedgetsmButton {
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  padding: 3px 6px;
  border-radius: 100px;

  color: #555;
}
.userName {
  font-weight: bold;
}
.UserTitle {
  text-align: center;
  color: #5550bd;
}
.proname{

 
}
.proname .userName{
 

}
.UserTitle{
 

}
.lists{
  width: 200px;
  font-size: 15px;
  padding:10px 20px;
}

.list-row{
padding: 5px 0px;
}