.topbar {
  width: 100%;
  height: 50px;
  background-color: rgb(38, 38, 38);
  position: sticky;
  top: 0;
  z-index: 1;
}
.topbarWrapper {
  height: 100%;
  padding: 0px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-weight: bold;
  font-size: 25px;
}
.topRight {
  display: flex;
  align-items: center;
}
.topbaricons {
  cursor: pointer;
  position: relative;
  margin-right: 20px;
  color: white;
}
.topnotifaction {
  position: absolute;
  top: -2px;
  width: 15px;
  height: 15px;
  font-size: 10px;
  text-align: center;
  right: 0px;
  background-color: red;
  color: white;
  border-radius: 50%;
}
.imgprofile {
  border-radius: 50px;
  width: 50px;
}
.logout-btn{
  background-color: rgb(38, 38, 38);
  color: white;
  font-size: 20px;
  border: none  ;
  cursor: pointer;
  transition: 0.6s;
}
.logout-btn:hover{
  color: red;
}