* {
  margin: 0;
  padding: 0;
}
.sidbarMenu {
  flex: 1;
  
  padding:10px 0px;
  height:100vh;
  background-color: rgb(240, 231, 231);
  position: fixed;
  top: 50px;
}
.sidebarHeading {
  padding: 0px 35px;
  font-size: 15px;
  color: darkgray;
 
}
.sidbarTitle {
  list-style: none;
}
.sidelist {
  
  border-radius: 5px;
  width: 60%;
  padding: 5px ;
  margin: 5px 45px;
  display: flex;
  cursor: pointer;
}
.sidelist:hover {
  background-color: rgb(197, 197, 197);
}
.sidebartitles {
  padding: 0px 10px;
}
.linkActive {
  background-color: red;
}
.linkBaar {
  text-decoration: none;
}


@media only screen and (max-width: 600px) {
 .sidbarMenu{
display: none;

  }
}